<a href="https://colab.research.google.com/github/Akshaycs012/AI-Study-Assistant/blob/main/session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# US floor number to Indian floor number

n = input("enter the floor number : ")
print(type(n))

if(int(n) == 0):
  print("in india it is ground floor")
else:
  num = int(n)-1
  print("in India it is ",num)

enter the floor number : 7
<class 'str'>
in India it is  6

In [22]:
# create a userdefined function to find the power of a number

def power():
  x = input("enter x: ")
  y = input("enter y: ")

  print("power is : ",int(x)**int(y))


power()

enter x: 5
enter y: 3
power is :  125

In [29]:
# list ,dictionay ,tuples

a = [1,2,3,4]
b = (1,2,3,4)
c = {"a":1,"b":2}

print(a)
print(b)
print(c)
print(type(a),type(b),type(c))

[1, 2, 3, 4]
(1, 2, 3, 4)
{'a': 1, 'b': 2}
<class 'list'> <class 'tuple'> <class 'dict'>

In [103]:
#operation on list

a.append(10)
print(a)
a.pop()
print(a)

names = ["akshay","chandru","charan"]

for i in names:
  print("namskara ",i)

print("\nConcatenation of two list")
b = [4,6,5,6]
total = a+b
print(total)

print("\nnested list")
n = [[1,2,3],[4,5,6]]
for i in n:
  for j in i:
    print(j)

print("\nAdding two list")
print(a,b)
for i,j in zip(a,b):
  print(i+j)

print(type(zip(a,b)))
print(a)
print("length of a : ",len(a))
for i in range(-(int(len(a))),-1):
  print(a[i])

# list[start:end:step]
print("\ntotal ",total,"\nslicing",total[:-1],)

# list methods and functions:
# methods : append , count , extend , index , insert , pop , remove , split ,
# functions : len , max , min , sum ,

#split
x = "hello world"
print("x ",x,"\t\t,split:-",x.split())

y = "my/self/akshay"
print("y ",y,"\t,split('/'):-",y.split("/"))


emp = []
print("Empty list : ",emp,len(emp))

[1, 2, 3, 4, 10]
[1, 2, 3, 4]
namskara  akshay
namskara  chandru
namskara  charan

Concatenation of two list
[1, 2, 3, 4, 4, 6, 5, 6]

nested list
1
2
3
4
5
6

Adding two list
[1, 2, 3, 4] [4, 6, 5, 6]
5
8
8
10
<class 'zip'>
[1, 2, 3, 4]
length of a :  4
1
2
3

total  [1, 2, 3, 4, 4, 6, 5, 6]
slicing [1, 2, 3, 4, 4, 6, 5]
x  hello world 		,split:- ['hello', 'world']
y  my/self/akshay 	,split('/'):- ['my', 'self', 'akshay']
Empty list :  [] 0

In [115]:
# operations on dictionary

d = dict()  #creates a empty dictionay
print(d)
d["a"] = 1
d["b"] = 2
print(d)

print("Keys :",d.keys(),"\tValues : ",d.values())
# converting dict values into list

print(list(d.values()),type(list(d.values())))
print(list(d.items()),type(list(d.items())))

list = list(d.items())
# first element of d.item()
d1 = list[1]
print(type(d1))

{}
{'a': 1, 'b': 2}
Keys : dict_keys(['a', 'b']) 	Values :  dict_values([1, 2])
[1, 2] <class 'list'>
[('a', 1), ('b', 2)] <class 'list'>
<class 'tuple'>